@model HaberSitesiAdmin.Models.PageDTO<Video>
@using DataAccess
@{
    ViewBag.Video = "active";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-xxl flex-grow-1 container-p-y">
    <h1 class="fw-bold py-3 mb-4">
        Videolar /
        <a href="~/Videos/Create" class="btn btn-primary mb-3">Video Oluştur</a>
    </h1>
    <div class="card">
        <div class="card-header">
            @using (Html.BeginForm("Index", "Videos", FormMethod.Post, new { @id = "SearchForm" }))
            {
                @Html.AntiForgeryToken()
                <div class="row">
                    <div class="col-md-10 col-10">
                        <input type="search" name="SearchQuery" id="SearchQuery" class="form-control" placeholder="Video aramak icin yaziniz ..." value="@Model.SearchQuery" />
                    </div>
                    <div class="col-md-2 col-2">
                        @Html.DropDownListFor(model => model.PageSize, Model.PageSizeOptions, new { @class = "form-control", @id = "PageSize" })
                    </div>
                </div>

                <input type="hidden" id="Index" name="Index" value="@Model.Index" />

                @Html.HiddenFor(model => model.Index)
            }

        </div>
        <div class="table-responsive text-nowrap">
            @{
                List<Video> process = Model.Items.Where(x => x.ProcessingStatus == 2).ToList();
                List<Video> Islemdekivideo = Model.Items.Where(x => x.ProcessingStatus == 1).ToList();

                if (Model.Pager.TotalItems == 0)
                {
                    <h1 style="text-align: center">Video Bulunamadi</h1>
                }
                else
                {
                    <div style="padding-left: 15px; display:inline-block">
                        <p><b>Video Sayisi: </b>@Model.Pager.TotalItems</p>
                    </div>
                    <div style="padding-left: 15px; display:inline-block">
                        <p><b>Aktif Video Sayısı: </b>@process.Count</p>
                    </div>
                    <div style="padding-left: 15px; display:inline-block">
                        <p><b>İşlemdeki Video Sayısı: </b>@Islemdekivideo.Count</p>
                    </div>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>@Html.DisplayNameFor(model => model.Items[0].Img)</th>
                                <th>@Html.DisplayNameFor(model => model.Items[0].User)</th>
                                <th>@Html.DisplayNameFor(model => model.Items[0].Title)</th>
                                <th>@Html.DisplayNameFor(model => model.Items[0].PublishDate)</th>
                                <th>@Html.DisplayNameFor(model => model.Items[0].Categories)</th>
                                <th>Durum</th>
                                <th>@Html.DisplayNameFor(model => model.Items[0].isActive)</th>
                            </tr>
                        </thead>
                        <tbody class="table-border-bottom-0">
                            @foreach (Video item in Model.Items)
                            {
                                <tr>
                                    <td>
                                        <a href="@ViewBag.apiUrl/video/@item.Categories.FirstOrDefault().url/@item.url"><img style="width:150px" src="@item.Img" alt="Video Görseli" /></a>
                                    </td>
                                    <td>@item.User.Name @item.User.Surname</td>
                                    <td style="max-width: 50ch;overflow: hidden;text-overflow: ellipsis;">@item.Title</td>
                                    <td>
                                        <p style="max-width: 55ch;overflow: hidden;text-overflow: ellipsis;">@item.PublishDate</p>
                                    </td>
                                    <td>
                                        @if (item.Categories.Count() > 0)
                                        {
                                            <ul>
                                                @foreach (Category category in item.Categories.Where(model => !model.isDeleted).OrderBy(model => model.Status))
                                                {
                                                    <li>@category.Name</li>
                                                }
                                            </ul>
                                        }

                                    </td>

                                    <td>
                                        @{
                                            if (item.ProcessingStatus == 0)
                                            {
                                                @*<img style="max-width:26px; padding-left:30px;" src="~/Content/assets/img/waiting.gif" />*@
                                                <img style=" max-width: 46px; padding-left: 12px;" src="~/Content/assets/img/waiting.gif" />
                                                <p style="padding-left:0px">Başlamadı</p>
                                            }
                                            else if (item.ProcessingStatus == 1)
                                            {
                                                <img style="max-width: 46px; padding-left: 12px;" src="~/Content/assets/img/loading.gif" />
                                                <p style="    padding-left: 12px;">İşlemde</p>
                                            }
                                            else if (item.ProcessingStatus == 2)
                                            {
                                                <img style="padding-left:30px;" src="~/Content/assets/img/check.png" />
                                                <p style="padding-left:0px">Tamamlandı</p>
                                            }
                                        }


                                    </td>
                                    <td>
                                        @{
                                            if (item.isActive)
                                            {
                                                <span class="badge bg-success">Aktif</span>
                                            }
                                            else
                                            {
                                                <span class="badge bg-secondary">Pasif</span>
                                            }
                                        }
                                    </td>
                                    <td>
                                        <div class="dropdown">
                                            <button type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown">
                                                <i class="bx bx-dots-vertical-rounded"></i>
                                            </button>
                                            <div class="dropdown-menu">
                                                <a class="dropdown-item" href="~/Videos/Reviews/@item.Id">
                                                    <i class="bx bx-comment me-1"></i> Yorumlar
                                                </a>
                                                <a class="dropdown-item" href="~/Videos/Edit/@item.Id">
                                                    <i class="bx bx-edit-alt me-1"></i> Düzenle
                                                </a>
                                                <a class="dropdown-item" href="~/Videos/Details/@item.Id">
                                                    <i class="bx bx-detail me-1"></i> Detaylar
                                                </a>
                                                <a class="dropdown-item" href="~/Videos/Delete/@item.Id">
                                                    <i class="bx bx-trash me-1"></i> Sil
                                                </a>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            }

                        </tbody>
                    </table>
                    <nav aria-label="Page navigation">
                        <ul class="pagination justify-content-center">
                            @if (Model.Index != 1)
                            {
                                <li class="page-item prev">
                                    <button type="button" class="page-link" onclick="PostForm(@(Model.Index-1))">
                                        <i class="tf-icon bx bx-chevrons-left"></i>
                                    </button>
                                </li>
                            }
                            @foreach (int item in Model.Pager.Pages)
                            {
                                if (item == Model.Index)
                                {
                                    <li class="page-item active">
                                        <input type="button" class="page-link" onclick="PostForm(@item)" value="@item" />
                                    </li>
                                }
                                else
                                {
                                    <li class="page-item">
                                        <input type="button" class="page-link" onclick="PostForm(@item)" value="@item" />
                                    </li>
                                }
                            }
                            @if (Model.Index != Model.Pager.EndPage)
                            {
                                <li class="page-item next">
                                    <button type="button" class="page-link" onclick="PostForm(@(Model.Index+1))">
                                        <i class="tf-icon bx bx-chevrons-right"></i>
                                    </button>
                                </li>
                            }
                        </ul>
                    </nav>
                }
            }

        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script type="text/javascript">
        function PostForm(id) {
            $("#Index").val(id);
            $("#SearchForm").submit();
        }
        $("#PageSize").change(function () {
            $("#Index").val(1);
            $("#SearchForm").submit();
        });
    </script>
</div>
