@using DataAccess
@using HaberSitesi.Services
@model HaberSitesi.Models.HomePageDto<Video>
@{
    ViewBag.Route = "/video";
    Layout = "~/Views/Shared/Layouts/_videoLayout.cshtml";
    ViewBag.Item = "Turkuvaz Haber - Video , En Son Haberler";
}


<style>
    .video-card {
        position: relative;
        display: flex;
        flex-direction: column;
    }

        .video-card span {
            font-size: 12px;
            position: absolute;
            bottom: 2px;
            right: 2px;
            color: white !important;
            background: rgba(0,0,0,0.7);
            border-radius: 2px;
        }
    }
</style>


<main>
    @{

        List<Video>
            videos = Model.Items;
        List
        <Video>
            topHit = Model.TopHit;
    }
    <!-- Trending Area Start -->
    <div class="trending-area fix ">
        <div class="container">
            <div class="trending-main">
                <!-- Trending Tittle -->

                <section class="row">

                    <!-- Trending Top -->
                    @{

                        <div class="col-lg-8">

                            <div class="trending-top mb-30">
                                <div class="trend-top-img">
                                    <a href="~/video/@videos[0].Categories.FirstOrDefault().url/@videos[0].url">
                                        <div class="video-card">
                                            <img src="@ViewBag.apiUrl/@videos[0].MainSliderIMG" alt="">
                                            <span>@videos[0].VideoTime.AsDateTime().ToShortTimeString()</span>
                                        </div>
                                    </a>
                                    <div class="trend-top-cap">
                                        <span>@videos[0].Categories.FirstOrDefault().Name</span>
                                        <h2>
                                            <a href="~/video/@videos[0].Categories.FirstOrDefault().url/@videos[0].url">@videos[0].Title</a>
                                        </h2>
                                    </div>
                                </div>
                            </div>


                            <hidden hidden>@videos.Remove(videos[0])</hidden>

                            <div class="trending-bottom">
                                <div class="row">

                                    @foreach (Video item in videos.GetRange(0, 11))
                                    {
                                        <div class="col-lg-4">
                                            <div class="single-bottom mb-35">
                                                <div class="trend-bottom-img mb-30">
                                                    <a href="~/video/@item.Categories.FirstOrDefault().url/@item.url">
                                                        <div class="video-card">
                                                            <img src="@ViewBag.apiUrl/@item.SliderBottomIMG" alt="">
                                                            <span style="color:black">@item.VideoTime.AsDateTime().ToLongTimeString()</span>
                                                        </div>
                                                    </a>
                                                </div>
                                                <div class="trend-bottom-cap">

                                                    <h4>
                                                        <a style="overflow:hidden; -webkit-box-orient: vertical;  -webkit-line-clamp: 2; display: -webkit-box; "
                                                           href="~/video/@item.Categories.FirstOrDefault().url/@item.url">@item.Title</a>
                                                    </h4>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                        <hidden hidden>
                            @{
                                videos.RemoveRange(0, 11);
                            }
                        </hidden>

                        <section class="col-lg-4">

                            @foreach (Video item in topHit)
                            {
                                <div class="trand-right-single d-flex">
                                    <div class="trand-right-img">
                                        <a href="~/video/@item.Categories.FirstOrDefault().url/@item.url">
                                            <img style="max-width:120px" src="@ViewBag.apiUrl/@item.SidebarIMG" alt="">
                                        </a>
                                    </div>
                                    <div class="trand-right-cap">

                                        <h4 style="font-size:15px">
                                            <a href="~/video/@item.Categories.FirstOrDefault().url/@item.url">@item.Title</a>
                                        </h4>
                                    </div>
                                </div>

                            }

                            <section class="whats-news-area pt-20 pb-20">
                                <div class="container">
                                    <div class="row">

                                        @Html.Partial("~/Views/Shared/Component/Borsa.cshtml")
                                        <!-- New Poster -->
                                        <div class="news-poster d-none d-lg-block">
                                            <img src="~/Content/assets/img/news/news_card.jpg" alt="">
                                        </div>


                                    </div>
                                </div>
                            </section>

                        </section>


                    }

            </div>
        </div>
    </div>
    <!-- Trending Area End -->
    <!--   Weekly-News start -->
    <!-- End Weekly-News -->
    <!-- İlginizi Çekebilecek Diğer Haberler Start -->
    <!-- İlginizi Çekebilecek Diğer Haberler End -->
    <!--   Weekly2-News start -->
    <!-- End Weekly-News -->
    <!-- Start Youtube -->
    <!--  Son Haberler start -->
    <!--Son Haberler End -->
    <!--Start pagination -->
    <!-- End pagination  -->

</main>
