@model DataAccess.User

@{
    ViewBag.User = "active";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container-xxl flex-grow-1 container-p-y">
    <h1 class="fw-bold py-3 mb-4">
        Kullanıcılar /
        <a href="~/Users/Create" class="btn btn-primary mb-3">Kullanıcı Oluştur</a>
    </h1>

    <div class="row mb-5 card">
        <div class="card-header">
            <div class="card-img-top">
                <img class="card-img-top mx-auto d-block" style="max-width:250px" src="@Model.Img" alt="Card image cap" />
            </div>
            <div class="card-title">
                <h2 style="text-align:center">@Model.Name @Model.Surname</h2>
            </div>
            <hr />
        </div>

        <div class="card-body" style="text-align:center">
            <label style="font-weight:bold" class="mt-2">E-Posta:</label>
            @Html.DisplayFor(model => model.EMail)
            <br />
            <label style="font-weight:bold" class="mt-2">Doğum Tarihi:</label>
            @Html.DisplayFor(model => model.Birthday)
            <br />
            <label style="font-weight:bold" class="mt-2">Rol:</label>
            @Html.DisplayFor(model => model.Role.Name)
            <br />
            <label style="font-weight:bold" class="mt-2">Durum:</label>
            @{
                if (Model.isActive)
                {
                    <span class="badge bg-success">Aktif</span>
                }
                else
                {
                    <span class="badge bg-secondary">Pasif</span>
                }
            }
            <br />
            <hr />
            <p>
                <a href="~/Users/Edit/@Model.Id" class="btn btn-success">Düzenle</a>
                <a href="~/Users" class="btn btn-primary">Listeye Dön</a>
            </p>
        </div>
    </div>
</div>