@using DataAccess
@model HaberSitesiAdmin.Models.PageDTO<User>

@{
    ViewBag.User = "active";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-xxl flex-grow-1 container-p-y">
    <h1 class="fw-bold py-3 mb-4">
        Kullanıcılar /
        <a href="~/Users/Create" class="btn btn-primary mb-3">Kullanici Oluştur</a>
    </h1>
    <div class="card">
        <div class="card-header">
            @using (Html.BeginForm("Index", "Users", FormMethod.Post, new { @id = "SearchForm" }))
            {
                @Html.AntiForgeryToken()
                <div class="row">
                    <div class="col-md-10 col-10">
                        <input type="search" name="SearchQuery" id="SearchQuery" class="form-control" placeholder="Kullanıcı aramak icin yaziniz ..." value="@Model.SearchQuery" />
                    </div>
                    <div class="col-md-2 col-2">
                        @Html.DropDownListFor(model => model.PageSize, Model.PageSizeOptions, new { @class = "form-control", @id = "PageSize" })
                    </div>
                </div>
                <input type="hidden" id="Index" name="Index" value="@Model.Index" />
                @Html.HiddenFor(model => model.Index)
            }
        </div>
        <div class="table-responsive text-nowrap">
            @{
                if (Model.Pager.TotalItems == 0)
                {
                    <h1 style="text-align: center">Kullanıcı Bulunamadı</h1>
                }
                else
                {
                    <div style="padding-left: 15px;">
                        <p><b>Kullanıcı Sayisi: </b>@Model.Pager.TotalItems</p>
                    </div>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>@Html.DisplayNameFor(model => model.Items[0].Img)</th>
                                <th>@Html.DisplayNameFor(model => model.Items[0].Name)</th>
                                <th>@Html.DisplayNameFor(model => model.Items[0].Surname)</th>
                                <th>@Html.DisplayNameFor(model => model.Items[0].EMail)</th>
                                <th>@Html.DisplayNameFor(model => model.Items[0].Birthday)</th>
                                <th>@Html.DisplayNameFor(model => model.Items[0].Role)</th>
                                <th>@Html.DisplayNameFor(model => model.Items[0].isActive)</th>
                            </tr>
                        </thead>


                        <tbody class="table-border-bottom-0">

                            @foreach (var item in Model.Items)
                            {
                                <tr>
                                    <td>
                                        <img style="max-height:75px" src="@item.Img" alt="Haber Görseli" />
                                    </td>
                                    <td>@item.Name</td>
                                    <td>@item.Surname</td>
                                    <td>@item.EMail</td>
                                    <td>@item.Birthday</td>
                                    <td>@item.Role.Name</td>
                                    <td>
                                        @{
                                            if (item.isActive)
                                            {
                                                <span class="badge bg-success">Aktif</span>
                                            }
                                            else
                                            {
                                                <span class="badge bg-secondary">Pasif</span>
                                            }
                                        }
                                    </td>
                                    <td>
                                        <div class="dropdown">
                                            <button type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown">
                                                <i class="bx bx-dots-vertical-rounded"></i>
                                            </button>
                                            <div class="dropdown-menu">
                                                <a class="dropdown-item" href="~/Users/Edit/@item.Id">
                                                    <i class="bx bx-edit-alt me-1"></i> Duzenle
                                                </a>
                                                <a class="dropdown-item" href="~/Users/Details/@item.Id">
                                                    <i class="bx bx-detail me-1"></i> Detaylar
                                                </a>
                                                <a class="dropdown-item" href="~/Users/Delete/@item.Id">
                                                    <i class="bx bx-trash me-1"></i> Sil
                                                </a>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    <nav aria-label="Page navigation">
                        <ul class="pagination justify-content-center">
                            @if (Model.Index != 1)
                            {
                                <li class="page-item prev">
                                    <button type="button" class="page-link" onclick="PostForm(@(Model.Index - 1))">
                                        <i class="tf-icon bx bx-chevrons-left"></i>
                                    </button>
                                </li>
                            }
                            @foreach (int item in Model.Pager.Pages)
                            {
                                if (item == Model.Index)
                                {
                                    <li class="page-item active">
                                        <input type="button" class="page-link" onclick="PostForm(@item)" value="@item" />
                                    </li>
                                }
                                else
                                {
                                    <li class="page-item">
                                        <input type="button" class="page-link" onclick="PostForm(@item)" value="@item" />
                                    </li>
                                }
                            }
                            @if (Model.Index != Model.Pager.EndPage)
                            {
                                <li class="page-item next">
                                    <button type="button" class="page-link" onclick="PostForm(@(Model.Index + 1))">
                                        <i class="tf-icon bx bx-chevrons-right"></i>
                                    </button>
                                </li>
                            }
                        </ul>
                    </nav>
                }

            }
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script type="text/javascript">
        function PostForm(id) {
            $("#Index").val(id);
            $("#SearchForm").submit();
        }
        $("#PageSize").change(function () {
            $("#Index").val(1);
            $("#SearchForm").submit();
        });
    </script>
</div>
