@model DataAccess.Role

@{
    ViewBag.Role = "active";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-xxl flex-grow-1 container-p-y">
    <h1 class="fw-bold py-3 mb-4">
        Roller /
        <a href="~/Roles/Create" class="btn btn-primary mb-3">Rol Oluştur</a>
    </h1>
    <div class="row mb-5 card" style="text-align:center">
        <div class="card-body">
            <label style="font-weight:bold" class="mt-2">@Html.LabelFor(model => model.Name):</label>
            @Html.DisplayFor(model => model.Name)
            <br />
            <label style="font-weight:bold" class="mt-2">@Html.LabelFor(model => model.Description):</label>
            @Html.DisplayFor(model => model.Description)
            <br />
            @{
                if (Model.isActive)
                {
                    <span class="badge bg-success">Aktif</span>
                }
                else
                {
                    <span class="badge bg-secondary">Pasif</span>
                }
            }
            <br />
            <hr />
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                <p>
                    <button type="submit" value="Delete" class="btn btn-danger">Sil</button>
                    <a href="~/Roles" class="btn btn-primary">Listeye Dön</a>
                </p>
            }

        </div>
    </div>
</div>